/* GENERAL */

html {
    font-size: 18px;
}

body {
    margin: 0px;
    background-color: rgb(143, 116, 75);
    background-size: cover;
       
    background-attachment: fixed;
    background-repeat: no-repeat;
       
    background-image: url("../imagenes/jay-mantri-TFyi0QOx08c-unsplash.jpg");
    
       
}

img {
    height: auto;
    width: 12em;
    object-fit: cover;
}

/* CABECERA */
.cabecera {
    text-align: center;
    height: auto;
    background-color: rgb(187, 228, 167);
    border-bottom: 2px solid rgb(135, 172, 126);
    padding: 1em 0.5em 1em 0.5em;
}

#nav_rutas {
    text-align: center;
}

/* DROPDOWN */

.dropbtn {
  background-color: #5fb662;
  color: white;
  padding: 1em 2.5em;
  border: none;
  cursor: pointer;
}

.dropdown {
  margin-top: 1em;
  display: inline-block;
    width: 75%;
}

.dropdown-content {
  display: none;
  position: absolute;
    left: 50%;
    transform: translate(-50%);
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
    text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #448346;
}

.menu_dropdown {
    width: 100%;
    text-align: center;
}

/* STICKY */

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1.5em;
}

/* CONTENIDO */

.contenido {
    width: 75%;   
    margin: 0px 0px 5em 12.5%;
}

.ruta {
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 0px 1em 0px;
    text-align: center;
    background-color: rgba(146, 223, 146, 0.5);
}

.ruta > img {
    width: 75%;
}

.nombre_ruta {
    font-size: 1.25em;
    font-style: italic;
    text-decoration: underline;
}

/* FOOTER */

.footer {
    height: auto;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: rgb(187, 228, 167);
    border-top: 2px solid rgb(135, 172, 126);
    padding: 1em 0px 1em 0px
}


@media (min-width: 550px) {
    

    .dropbtn {
        top: 1.5em;
        padding: 1em 100%;
    }
    
    .dropdown {
        margin-top: 0px;
        width: auto;
        position:relative; 
        left: 1em;
        top: 1em;
        width: 7.5%;
    }
    
    .dropdown-content {
       transform: none;
        left: initial;
        min-width: max-content;
    }
    
    .menu_dropdown {
        text-align: left;
    }
    
    .contenido {
    width: 60%;   
    margin: 0px 0px 5em 35%;
}

}









